<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shop Opening Times</title>
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Shop</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="opening_times">Opening</a></li>
				<li><a href="holidays">Holidays</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="isOpen">isOpen</a></li>
				<li><a href="isClosed">isClosed</a></li>
				<li><a href="nextOpen">nextOpen</a></li>
				<li><a href="nextClosed">nextClosed</a></li>
			</ul>
		</div>
	</div>
	</nav>

	{% block body %}{% endblock %}

	<script type="text/javascript" src="libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>