{% extends 'Template/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="col-md-12">
			{% if holidays|length %}
				<div class="panel panel-default">
					<div class="panel-heading"><h3>List of Holidays</h3></div>
					<div class="panel-body">
						<table id="openingTimes" class="table table-responsive">
							<thead>
								<tr>
									<th>Start</th>
									<th>End</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								{% for holiday in holidays %}
									<tr>
										<td>{{ holiday.start|date('l, d-Y')}}</td>
										<td>{{ holiday.end|date('l, d-Y')}}</td>
										<td>{{ holiday.description }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<div class="alert alert-info">There is no listed Holidays!</div>
			{% endif %}
		</div>
	</div>
{% endblock %}