{% extends 'Template/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="col-md-12">
			{% set shopStatus = shop.getStatus(times) %}
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Welcome!</h3></div>
				<div class="panel-body">
					<div class="alert alert-info">The shop is {{ shopStatus.status ~ ' - ' ~ shopStatus.note }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}