{% extends 'Template/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h3><b>{{ urlMethod }}</b> Query</h3></div>
				<div class="panel-body">
					{% if urlMethod == 'isOpen' %}
						<h4>
							{% if statusQuery %}
								<div class="alert alert-success">Yes, the shop is <span class="label label-success">OPEN!</span></div>
							{% else %}
								<div class="alert alert-warning">No, the shop is <span class="label label-danger">NOT OPEN!</span></div>
							{% endif %}
						</h4>
					{% elseif urlMethod == 'isClosed' %}
						<h4>
							{% if statusQuery %}
								<div class="alert alert-success">Yes, the shop is <span class="label label-success">CLOSED!</span></div>
							{% else %}
								<div class="alert alert-warning">No, the shop is <span class="label label-danger">NOT CLOSED!</span></div>
							{% endif %}
						</h4>
					{% elseif urlMethod == 'nextOpen' %}
						<h4>
							{% if statusQuery %}
								<div class="alert alert-success">The shop will be OPENED on <span class="label label-success">{{ statusQuery.day ~ ' @ ' ~ statusQuery.time }}</span></div>
							{% else %}
								<div class="alert alert-warning">The shop is closed permanently!</div>
							{% endif %}
						</h4>
					{% elseif urlMethod == 'nextClosed' %}
						<h4>
							{% if statusQuery %}
								<div class="alert alert-success">The shop will be CLOSED on <span class="label label-success">{{ statusQuery.day ~ ' @ ' ~ statusQuery.time }}</span></div>
							{% else %}
								<div class="alert alert-warning">The shop is closed permanently!</div>
							{% endif %}
						</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}