{% extends 'Template/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="col-md-12">
			<table id="openingTimes" class="table table-responsive">
				<thead>
					<tr>
						<th>Day</th>
						<th>Hour / Status / Note</th>
					</tr>
				</thead>
				<tbody>
					{% for day, timex in times %}
						<tr>
							<th>{{ day }}</th>
							<td>
								{% if day == currDay %}
									<h3 class="text-info">{{ shopStat.note }}</h3>
								{% endif %}
								{% for time, stat in timex %}
									<p>{{ time ~ ' ' ~ stat.status ~ ' - ' ~ stat.note }}</p>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}